<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static '/pfam_maps/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'pfam_maps/css/starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "index" %}>ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url "conflict_portal" %}>Conflicts</a></li>
            <li><a href={% url "resolved_portal" %}>Resolved</a></li>
            <li><a href={% url "evidence_portal" %}>Evidence</a></li>
            <li><a href={% url "user_portal" %}>User Profile</a></li>
            <li><a href={% url "logs_portal" %}>Logs</a></li>
            <li><a href={% url "about" %}>About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead">Privileged Pfam-A domains mediate small molecule binding</p> 
      
 <p> {{clash_arch|length}} architectures caused conflicting mappings that remain unresolved. Associated activities are summarised below, broken down by architecture type. Please note that conflicts are resolved on a per-assay basis, so all activities from one assay are grouped, and the binding site annotation from the assay is applied to all activities. This seems reasonable, as the endpoints measured in biochemical assays are specific to one domain type (eg. susbtrate turn-over in enzymatic assays). For each conflicting architecture, you will be presented with a list of assays for which binding could take place at one of two or more domains. </p>
         <ul>
             {% for name, count in clash_arch.items %}
             <li><a href="{{ name }}/">{{ name }}</a> ({{ count|length }} activities) </li>
             {% endfor %}
         </ul>
        <!--<h3> Mapping summary </h3>
        <p> There are {{ act_count }} activities that could be mapped without conflicts. These are activities from binding assays that have an associated <strong> pChEMBL </strong> value. 
            There are {{ clash_count }} activities where the mapping defaulted to more than one domain type. Of these, {{ man_count }} have been manually resolved.
            There are also {{ dub_count }} activities where the mapping defaulted to multiple instances of the same domain type. </p>-->
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'pfam_maps/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>


