<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static '/pfam_maps/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'pfam_maps/css/starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "index" %}>ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url "conflict_portal" %}>Conflicts</a></li>
            <li><a href={% url "resolved_portal" %}>Resolved</a></li>
            <li><a href={% url "evidence_portal" %}>Evidence</a></li>
            <li><a href={% url "user_portal" %}>User Profile</a></li>
            <li><a href={% url "logs_portal" %}>Logs</a></li>
            <li><a href={% url "about" %}>About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead">Privileged Pfam-A domains mediate small molecule binding</p> 
        <h3> Evidence for small molecule binding to Pfam-A domains </h3>
        <p>We query the ChEMBL database for measured interactions of small molecules with single domain proteins containing a given domain. The requirements for a measurement to be counted as evidence are then the following:</p>
        <ul class="well">
            <li> The reported activity comes from a binding assay; assay_type = 'B' </li>
            <li> The relationship in the database must be '=' </li>
            <li> The relationship type in the assay to target mapping must be relationship_type = 'D'</li>
            <li> The target must be of the type 'PROTEIN COMPLEX' or 'SINGLE PROTEIN' </li>
            <li> The activity must have an associated pChEMBL value </li>
            <li> The potency threshold was set at 10 &mu;M. unless multiple measurements above this threshold suggests the interactions are real.</li>
        </ul>
            <p> The intial implementation built on a slightly different set of requirements, listed below. The most profound difference is that it set the threshold at 50 &mu;M. Upon revisiting activities in the range between 10 and 50 &mu;M, we found that they mostly represented unusual assay formats or ligands that do not fit in well with classical definitions of small molecules.</li> 
        <ul class = "well">
            <li> Activity type must be one of 'Ki','Kd','IC50','EC50', 'AC50' or logarithmic conversion. </li>
            <li> The relationship in the database must be '=' </li>
            <li> The assay type must be assay_type = 'B' </li>
            <li> The relationship type in the assay to target mapping must be relationship_type = 'D'</li>
            <li> The potency threshold was set at 50 &mu;M.</li>
        </ul>
        
        
        <p>Evidence for small molecule binding to {{ names|length }} Pfam-A domains is listed below.</p>
        <ul>
            {% for name in names %}
                <li><a href="{{ name }}/">{{ name }}</a></li>
            {% endfor %}
        </ul>
        
        <p>The catalogue of Pfam-A domains which are known to mediate small molecule binding can be downloaded in whole as valid_domains.</p>
        <a class="btn btn-default" href={% url "download_pfam" %}><span class="glyphicon glyphicon-download"></span> download </a>
       
        <!-- Trigger Button HTML -->
        <a class="btn btn-default" data-toggle="collapse" data-target="#tableLegend">expand table legend<b class="caret"></b></a>  
        <!-- Collapsible Element HTML -->
        <div id="tableLegend" class="collapse out"> 
          <table class="table table-striped"  style=width:500px>
             <tr>
                 <th> Col name</th>
                 <th> explained </th>
             </tr>
             <tr>
                 <td> entry_id </td>
                 <td> unique identifier for each row </td>
             </tr>
             <tr>
                <td> domain_name </td>
                <td> name of the Pfam-A domain </td>
             </tr>
             <tr>
                 <td> comment </td>
                 <td> Curation comment </td>
             </tr>
             <tr>
                 <td> timestamp </td>
                 <td> time of last curation </td>
             </tr>
             <tr>
                 <td> submitter </td>
                 <td> user who submitted last curation decision </td>
             </tr>
         </table>
        </div>

 
        <p>
        <h3> Domains under review </h3>
        <p> The catalogue of valid Pfam-A domains is subject to revision. For example, if new data in the literature suggests that a given domain mediates small molecule binding, it can be added to the PPDMs list of domains under review. In the next cycle of curations, it can be included in the main catalogue and will be projected onto proteins that are associated with eligible binding assays. Similarly, a domain that is currently listed in the catalogue can be shortlisted for removal if
        evidence for small molecule binding turns out to be insubstantial.</p>

        <p>All domains that are currently under review are listed below {{ held_doms|length }}.</p>
        <table class="table table-striped"  style=width:500px>
            <tr>
                <th> domain_name </th>
                <th> comment    </th>    
                <th> submitter  </th>
                <th> time       </th>
            </tr>
            {% for dom in held_doms %}
                <tr>
                    <td> {{dom.0}} </td>
                    <td> {{dom.1}} </td>
                    <td> {{dom.3}} </td>
                    <td> {{dom.2}} </td>
                </tr>                                  
            {% endfor %}
        </table>



      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'pfam_maps/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>


