<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>
    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static '/pfam_maps/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'pfam_maps/css/starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" src="{% static 'pfam_maps/d3/d3.v3.min.js' %}"></script>
  <script type="text/javascript"> 
    var top_acts = {{ top_acts|safe }};
    var top_mols = {{top_mols|safe }};
  </script>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "index" %}>ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url "conflict_portal" %}>Conflicts</a></li>
            <li><a href={% url "resolved_portal" %}>Resolved</a></li>
            <li><a href={% url "evidence_portal" %}>Evidence</a></li>
            <li><a href={% url "user_portal" %}>User Profile</a></li>
            <li><a href={% url "logs_portal" %}>Logs</a></li>
            <li><a href={% url "about" %}>About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead" data-toggle="tooltip" id='test'>Privileged Pfam-A domains mediate small molecule binding</p> 
        <h3> {{ pfam_name }} </h3>
        {% if top_mols and top_acts  %}
        <p> Shown below are measured interactions of the <a href="http://pfam.xfam.org/family/{{ pfam_name }}" target="blank">{{ pfam_name }}</a> Pfam-A domain with small molecules. Each point represents a measurement. There is currently a limit of ten on the number of displayed molecules. The total number of activities for this domain type in ChEMBL is {{ n_acts }}. For some Pfam-A domains, such as 7tm_1, there will be many more compounds.</p>
        
        {% else %}
            <p>No index  available.</p>
        {% endif %}
        <div id="anks">
          <script type="text/javascript" src="{% static 'pfam_maps/js/scatterplot.js' %}"></script>
        </div>
        <p> If the plot above shows no activities, you have come across a case where the evidence for small molecule does not come from ChEMBL but from the literature. Cited below are {{cits|length}} articles that demonstrate the {{pfam_name}} domain capability of binding small molecules. </p>
        <ul>
            {% for cit in cits %}
            <li>
                <em>{{cit.title}}</em> <br> 
                {{cit.authorString}} <br> 
                <strong>{{cit.journalTitle}}</strong>, ({{cit.pubYear}}) <br> 
                <a href='http://dx.doi.org/{{cit.doi}}' target="_blank">{{cit.doi}}</a>
            </li>
            {% endfor %}                          
        </ul>
        </div>
    </div><!-- /.container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{% static 'pfam_maps/dist/js/bootstrap.min.js' %}"></script>



    <!-- Below a simple example of how to get the popover working - this would need to go in the body though...
    <button type="button" class="btn btn-default" rel="popover" data-placement="left" title="Popover on left">Popover on left</button>-->
    <script type="text/javascript">
       $(function () {
           $("[rel='popover']").popover({   // selecting all elements where rel=popover
               'container':'body',          // need this to display popovers in SVG 
               'html':true                  // need this to display images.
            });
        });
   </script>


  </body>
</html>

