<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static '/pfam_maps/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'pfam_maps/css/starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "index" %}>ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url "conflict_portal" %}>Conflicts</a></li>
            <li><a href={% url "resolved_portal" %}>Resolved</a></li>
            <li><a href={% url "evidence_portal" %}>Evidence</a></li>
            <li><a href={% url "user_portal" %}>User Profile</a></li>
            <li><a href={% url "logs_portal" %}>Logs</a></li>
            <li><a href={% url "about" %}>About</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
          {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <h3> Query the log of assigned mappings </h3> 
        <form action="{% url 'query_logs' %}" method="post">{%csrf_token%}
            <div class="form-group">
                <label>Query by assigned comment</label>
                <input class="form-control" name="comment" type="text" placeholder=".*" hint="comment contains">
            </div>
            <div class="form-group">
                <label>Query by user submitting the assignment</label>
                <input class="form-control" name="submitter" type="text" placeholder=".*" hint="submitter">
            </div>
            <button class="btn btn-default" type="submit"> Submit query </button>
        </form>
        <h3> Download all mapped activities </h3>
        <p> The link below provides access to the entire table of mapped activities. All mappings are ultimately integrated into the ChEMBL database - you can read about ways to query them here - but you might want to work with mappings that have only been assigned in the current round of curations. If that is the case you can download the pfam_maps table using the link provided below.</p>
        
        <a class="btn btn-default" href={% url "download_logs" %}><span class="glyphicon glyphicon-download"></span> download </a>
        <!-- Trigger Button HTML -->
        <a class="btn btn-default"  data-toggle="collapse" data-target="#toggleLegend">expand table legend<b class="caret"></b></a>
        <!-- Collapsible Element HTML -->
        <div id="toggleLegend" class="collapse out"> 
          <table class="table table-striped"  style=width:500px>
             <tr>
                 <th> Col name</th>
                 <th> explained </th>
             </tr>
             <tr>
                 <td> map_id </td>
                 <td> unique identifier for each row </td>
             </tr>
             <tr>
                 <td> activity_id </td>
                 <td> activity_id as in the ChEMBL activities table </td>
             </tr>
             <tr>
                 <td> compd_id </td>
                 <td> unique identifier of the domain as defined in the component_domains table in ChEMBL </td>
             </tr>
             <tr>
                <td> domain_name </td>
                <td> name of the Pfam-A domain </td>
             </tr>
             <tr>
                 <td> category_flag </td>
                 <td> Constellation in the protein: 0 - no conflict; 1 - ambiguous map; 2 - conflicting map </td>
             </tr>
             <tr>
                 <td> status_flag </td>
                 <td> Status of the domain: 0 - activity mapped to domain; 1 - activities not currently mapped to domain </td>
             </tr>
             <tr>
                 <td> manual_flag </td>
                 <td> 0 - activity uncurated; 1 -activity curated;</td>
             </tr>
             <tr>
                 <td> comment </td>
                 <td> Curation comment </td>
             </tr>
             <tr>
                 <td> timestamp </td>
                 <td> time of last curation </td>
             </tr>
             <tr>
                 <td> submitter </td>
                 <td> user who submitted last curation decision </td>
             </tr>
         </table>
        </div>
        <h3> Log of assigned mappings, by date: </h3>
        <ul>
            {% for tstamps in log_idx.object_list %}
                <li><a href="../?assay_id={{ tstamps.2 }}"> {{tstamps.0}} </a> -- <strong>{{tstamps.1}}</strong></li>
            {% endfor %}
        </ul>
        Page {{ log_idx.number }} of {{ log_idx.paginator.num_pages }}.
        <ul class="pagination pagination-sm">
            {% for idx in log_idx.paginator.page_range %}
                 {% if log_idx.number == idx %}
                     <li class=active><a href="?page= {{ idx }}"> {{ idx }} </a></li>
                 {% else %}
                     <li><a href="?page= {{ idx }}"> {{ idx }} </a></li>
                 {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{% static 'pfam_maps/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>


