<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="www.ebi.ac.uk/web_guidelines/images/logos/EMBL-EBI/logo.png">

    <title>PoPaDoMs Server</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="{% static '/pfam_maps/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'pfam_maps/css/starter-template.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url "index" %}>ppdms</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url "conflict_portal" %}>Conflicts</a></li>
            <li><a href={% url "resolved_portal" %}>Resolved</a></li>
            <li><a href={% url "evidence_portal" %}>Evidence</a></li>
            <li><a href={% url "user_portal" %}>User Profile</a></li>
            <li><a href={% url "logs_portal" %}>Logs</a></li>
            <li><a href={% url "about" %}>About</a></li>
          </ul>
          {% if user.is_authenticated %}
      	    <p class="navbar-text pull-right"> signed in as {{ user.username }}.</p>
    	  {% else %}
            <p class="navbar-text pull-right">Not logged in.</p>
          {% endif %}

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="starter-template">
        <h1>ppdms</h1>
        <p class="lead">Privileged Pfam-A domains mediate small molecule binding</p> 
          {% if user.is_authenticated %}
            <div class="form-horizontal">
              <form action="{% url 'logout' %}" method="post">{%csrf_token%}
                <button class="btn btn-default" type="submit" value="rand">Logout </button>
              </form>
            </div> 
          {% else %}
            {% block content %}
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
          {% endif %}
            <p> If you already have an account, you can log in here. </p>
            <div class="form-horizontal">
              <form action="{% url 'login' %}" method="post">{%csrf_token%}
                <input class="form" name="username" type="text" placeholder="user">
                <input class="form" name="password" type="password" placeholder="password">
                <button class="btn btn-default" type="submit"> Login </button>        
              </form>
            </div>
            <p> You can register an account here; After registration you will arrive at a pass
                word reset page to verify your email address. </p>
            <div class="form-horizontal">
              <form action="{% url 'user_registration' %}" method="post">{%csrf_token%}
                <input class="form" name="username" type="text" placeholder="user">
                <input class="form" name="email" type="email" placeholder="your@adress.ac.uk">
                <button class="btn btn-default" type="submit"> Register </button>        
              </form>
            </div>
            <div>
              <p> You can reset your password here:  
              <a href='{% url "password_reset_recover" %}'>Password Reset</a></li> </p>
            </div>
            {% endblock %}
          {% endif %}
        </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static 'pfam_maps/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>

